:root {
    --background: #F9F9F9;
    --main-text: #2F4F4F;
    --accent-color: #A2B2C8;
    --links: #008080;
    --borders-dividers: #D3D3D3;
    --call-to-action: #6A5ACD;
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Lato', sans-serif;
    --tertiary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--background);
    color: var(--main-text);
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#articles-container {
    display: contents;
}

.article-left {
    text-align: right;
    grid-column: 1/2;
}

.article-right {
    text-align: left;
    grid-column: 2/3;
    border-left: 2px solid var(--borders-dividers);
    padding-left: 20px;
    padding-bottom: 20px;
}

#filters {
    text-align: left;
    grid-column: 3/4;
    grid-row: 4 / -1;
    padding: 10px;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-family: var(--primary-font);
    font-size: 2.5em;
    color: var(--main-text);
}

nav {
    border-top: 2px solid var(--borders-dividers);
    border-bottom: 2px solid var(--borders-dividers);
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    justify-content: end;
    justify-items: end;
}

nav li a {
    font-size: 1em;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--main-text);
    justify-content: end;
    justify-items: end;
}

nav li a:hover {
    color: var(--links);
}


footer {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-top: 2px solid var(--borders-dividers);
}